---
name: "Lint"
on: # yamllint disable-line rule:truthy
  push:
  pull_request:
  workflow_dispatch:
jobs:
  Lint:
    runs-on: "ubuntu-24.04"
    env:
      GOPATH: "/home/runner/go"
    steps:
    - uses: "actions/checkout@v4"
    - uses: "actions/setup-go@v5"
      with:
        go-version: "1.25.3"
    - uses: "actions/setup-python@v5"
      with:
        python-version: "3.13"
    - name: "provision dev tools"
      run: |
        sudo apt update
        sudo apt install -y python3-venv shellcheck
        ./install
    - run: "./build lint"
